@import "tailwindcss";

@theme {
  --font-sans: "Space Grotesk", "Segoe UI", sans-serif;
}

html,
body,
#root {
  min-height: 100%;
}

body {
  margin: 0;
  font-family: var(--font-sans);
}

* {
  box-sizing: border-box;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}
*:hover {
  scrollbar-color: rgba(148, 163, 184, 0.25) transparent;
}

/* WebKit (Chrome, Safari, Edge) */
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 999px;
  transition: background 0.2s;
}

::-webkit-scrollbar-track {
  background: transparent;
}

*:hover::-webkit-scrollbar-thumb {
  background: rgba(148, 163, 184, 0.2);
}

*:hover::-webkit-scrollbar-thumb:hover {
  background: rgba(148, 163, 184, 0.4);
}
